@page "/mihist"

<PageTitle>Mi Historia</PageTitle>
<base href="/" />
<link href="css/bootstrap/bootstrap.min.css" rel="stylesheet" />
<link href="css/app.css" rel="stylesheet" />
<link href="actividad_7.Client.styles.css" rel="stylesheet" />
<link rel="stylesheet" href="css/estilo.css">


<fieldset>
<h1>Mi historia</h1>
<h3>Mi primer pagina web con razor</h3>
</fieldset>

<div class="container1" align="center">
    <img src="https://previews.123rf.com/images/alfazetchronicles/alfazetchronicles1708/alfazetchronicles170800210/83943073-ni%C3%B1o-peque%C3%B1o-sonriente-con-la-mochila-vida-interesante-de-los-ni%C3%B1os-ni%C3%B1ez-feliz-personaje-de.jpg" width="200" height="200">
    <h2>Infancia</h2>
    <p>Desde pequeño me han gustado los videojuegos, pasear en bicicleta y ver peliculas. </p>
    <input type="button" class="btn btn-info" value="Ver mas">
</div>
<div class="container2" align="center">
    <img src="https://www.apptuts.net/wp-content/uploads/2020/06/m%C3%BAsica.jpeg" width="200" height="200">
    <h2>Pasatiempos</h2>
    <p>Mi pasatiempo favorito es escuchar musica, puedo estar dias enteros escuchando musica. </p>
    <input type="button" class="btn btn-info" value="Ver mas">
</div>
<div class="container3" align="center">
    <img src="https://definicion.de/wp-content/uploads/2009/03/ingenieria-de-software.png" width="200" height="200">
    <h2>Mi carrera</h2>
    <p>Me encunetro en la carrera de Ingenieria en Software, me gusta todo el ambito de la programacion, me parece muy buena actualmente y es algo muy necesario en nuestro entorno, por lo que siempre podras encontrar un buen lugar para trabajar. </p>
    <input type="button" class="btn btn-info" value="Ver mas">
</div>
@code {

}
